// Color Theme
$red: #ff595e;
$yellow: #ffca3a;
$green: #8ac926;
$blue: #1982c4;
$purple: #6a4c93;
$white: #eee;
$black: #222;
$grey: #666;
$trans-grey: rgba(190, 190, 190, 0.5);

// Font Types
$body-font: Verdana, Geneva, Tahoma, sans-serif;
$header-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
